*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1C2128;
    color: #A3ADBB;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
    border-bottom: 2px solid #ADBAC8;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: .3rem;
}

.btn{
    padding: .5rem;
    background-color: #A3ADBB;
    color: #1C2128;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#forca-img{
    height: 400px;
    max-width: 90%;
}

.texto-formato{
    max-width: 100%;
    font-size: 2rem;
    text-align: center;
}

.letra{
    padding: 1.3rem 0;
    margin-bottom: 1.3rem;
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 30rem;
    max-width: 80%;
    height: 15rem;
    background-color: #A3ADBB;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title-msg{
    color: #1C2128;
}

.btn-jogar{
    width: 250px;
    max-width: 100%;
    height: 3rem;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #1C2128;
    color: #ADBAC8;
    cursor: pointer;
}

#input{
    font-size: 1.2rem;
    padding: .7rem;
    width: 80%;
    text-align: center;
    border: none;
    background-color: #A3ADBB;
    border-radius: 10px;
}

#input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btn-enviar{
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #A3ADBB;
    border-radius: 0 .7rem .7rem 0;
    position: absolute;
    background-color: #4b4d4f;
    right: 0;
    height: 100%;
    width: 50px;
}

.inputs{
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}